##############################
# Set up the project name, dockerhub account, and platform
##############################

PROJECT_NAME=demo
DOCKERHUB_ACCOUNT=demo
PLATFORM=arm64

##############################
# Use for Dockerfile ARG variables
##############################

NVM_VERSION=0.40.3
NODE_VERSION=22.15.0
PNPM_HOME=/pnpm
PNPM_VERSION=10.9.0
YARN_VERSION=1.22.22
GOLANG_VERSION=1.24.2
GUM_VERSION=0.16.0

##############################
# Set up the local port, which maps to the backend container port
##############################

LOCAL_PORT=3000
NITRO_PORT=3000
NUXT_CONTAINER_PORT=3000
NUXT_SESSION_PASSWORD=password-with-at-least-32-characters
NUXT_BASE_URL=/
NUXT_API_BASE_URL=/api
