@import "tailwindcss" important;

@theme {
  --font-sans: var(--el-font-family);

  --color-primary-lighter: #fbdddd;
  --color-primary-light: #f98770;
  --color-primary: var(--el-color-primary);

  --color-primary-accent-lighter: #fdfde8;
  --color-primary-accent: #f8f27d;
  --color-primary-accent-dark: #efe40e;

  --color-success-lighter: #c8e6c9;
  --color-success-light: #81c784;
  --color-success: var(--el-color-success);
  --color-success-dark: #388e3c;
  --color-success-darker: #1b5e20;

  --color-warning: var(--el-color-warning);

  --color-info-lighter: #ebf6fa;
  --color-info-light: #767999;
  --color-info: var(--el-color-info);

  --color-danger-lighter: #ffebee;
  --color-danger-light: #ffcdd2;
  --color-danger: var(--el-color-danger);
  --color-danger-dark: #f44336;
  --color-danger-darker: #d32f2f;

  --color-black: var(--el-color-black);
  --color-white: var(--el-color-white);

  --breakpoint-3xl: 1920px;
}

@utility container {
  padding-inline: 12px;
  margin-inline: auto;
}

@layer base {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    @apply font-bold;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    @apply font-bold;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2.1rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
