@import "tailwindcss" important;

@theme {
  --color-black: var(--el-color-black);
  --color-white: var(--el-color-white);
  --color-primary: var(--el-color-primary);
  --color-success: var(--el-color-success);
  --color-warning: var(--el-color-warning);
  --color-info: var(--el-color-info);
  --color-danger: var(--el-color-danger);

  --font-sans: var(--el-font-family);
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;
  @variant sm {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 80px;
  }
}

@layer base {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    @apply font-bold;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    @apply font-bold;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2.1rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
